@{
    Layout = "~/Areas/RouteDebugger/Views/Shared/_Shared.cshtml";
}

@section feature{
    <div class="hero-unit">
        <div class="container">
            <h1>Route Debugger</h1>
            <h2>ASP.NET WebAPI</h2>
        </div>
    </div>
}

<section>
    <div class="row">
        <div class="span12">
            <h1>How to read the table</h1>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h3>Rows</h3>
            <p>
                The each row on the table represents an action found on the selected controller. Usually they're the 
                    reflected method in the api controller class.
            </p>
        </div>
        <div class="span8">
            <h3>Columns of details</h3>
            <p>The first three columns are the information about the action.  "Verb" is the the HTTP VERB action supported. 
                "Name" is the name of the action, which is mapped in the route. 
                "Param" is the parameters and corresponding types the action requires.</p>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <h3>By Action Name</h3>
            <p>The first stage is to examine the action based on it's name. Action name is extracted from route data. 
                The actions found by name are then filtered by the verbs they support.
                 Actions that don't support the HTTP Verb of incoming request are filtered.</p>
        </div>
        <div class="span4">
            <h3>By Http Verb</h3>
            <p>The second stage is skipped if above stage is executed. However if there isn't {action} in the selected route no action 
                name is presented. It will directly filter all actions based on their supported verbs.</p>
        </div>
        <div class="span3">
            <h3>Later Stage</h3>
            <p>Later stages are the final screening, one based on the parameters mapping and the other based on NonActionAttribute.  </p>
        </div>
    </div>
    <div class="row">
        <div class="span7">
            <h3>Cell</h3>
            <p>A cell may be marked as true, false or empty. True and false means this action is examined in associated stage and the result is respectively positive or negative. Empty cell means the action is not examined, meaning the process was skipped.  </p>
        </div>
        <div class="span5">
            <h3>Selection</h3>
            <p>The matched action are marked in green. Ideally only action shall be chosen.</p>
        </div>
    </div>

</section>
